

@media (max-width: 1199px) {
    .cards-content,
    .promotion-content{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991px) {
    .card-title,
    .promotion-title {
        font-size: 18px;
    }
    .fs-1 {
        font-size: 24px;
    }
    .cards-content, 
    .promotion-content{
        gap: 10px;
    }
    
    .card-other, 
    .header-other .btn-cart {
        display: none;
    }
    .menu-item {
        font-size: 18px;
        color: var(--dark-gray);
        display: inline;
    }
    .menu-item::after{
        content: none;
    }

    .header-other nav, 
    .btn-language, 
    .header-other-ul li:not(:last-child)  {
        margin-bottom: 15px;
    }
    .header-menu h4, 
    .btn-back-menu, 
    .btn-back-other, 
    .header-other-contacts, 
    .header-other, 
    .header-other-ul,
    .header-other hr,
    .card-price-adaptive  {
        display: block;
    }
    .header-menu-items {
        height: auto;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        
    }

    .header-menu, 
    .header-other {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        padding: 20px;
        background-color: var(--white);
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
    }


    .header-other {
        align-items: flex-start;
    }

    .header-other-ul a,
    .btn-language {
        font-size: 18px;
        font-weight: 600;
    }

   
    .header-icons {
        display: flex;
        gap: 10px;
    }
    .card-product, 
    .card-promotion {
        gap: 10px;
    } 
    .card-img, 
    .promotion-link {
        height: 200px;
    }

    .fp-slider .swiper-button-prev {
        left: 30px !important;
    }
    .fp-slider .swiper-button-next {
        right: 30px !important;
    }


}

@media (max-width: 767px) {
    .cards-content, 
    .promotion-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .fp-slider {
        height: 230px;
    }
    .fp-slider .swiper-button-prev {
        left: 20px !important;
    }
    .fp-slider .swiper-button-next {
        right: 20px !important;
    }
    .disable-scroll, .scroll-off {
        padding-right: 0;
    }
}

@media (max-width: 575px) {
    section {
        padding-top: 15px;
    }
    .container {
        padding: 0px 10px;
    }

    .card-product, 
    .card-promotion {
        padding: 5px;
        gap: 6px;
    }
    .fs-1 {
        font-size: 22px;
    }

    .fs-2 {
        font-size: 20px;
    }
    .fs-3 {
        font-size: 18px;
    }
    .cards-content, 
    .promotion-content {
        gap: 7px;
    }
    .card-price {
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }
    .card-description, 
    .promotion-text {
        font-size: 12px;
    }
    .card-img, 
    .promotion-link {
        height: 150px;
    }
    .card-title, 
    .promotion-title, 
    .card-price span  {
        font-size: 14px;
    }

    .card-price .btn-main,
    .btn-promotion {
        padding: 10px 14px;
        font-size: 13px;
    }
    .notification {
        max-width: 275px;
    }
    .notification span {
        font-size: 13px;
    }

    .pizza-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        padding: 20px;
        background-color: var(--white);
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
    }
    .filter-adaptive, 
    .btn-back-filter, 
    .pizza-filter h4, 
    .fp-slider-pagination
    {
        display: block;
    }
    .pizza-filter h4 {
        margin-bottom: 15px;
    }
    .pizza-filter-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .pizza-filter-items label {
        font-size: 16px;
    }

    .fp-slider {
        height: 200px;
    }
    
    .slider-section .container {
        padding: 0;
    }
    .fp-slide a img {
        border-radius: 0px;
    }
    .card-product .card-label {
        font-size: 10px;
        padding: 4px 8px;
    }
    .card-description, 
    .promotion-text {
        -webkit-line-clamp: 2;
    }

    .fp-slider-next,
    .fp-slider-prev {
        display: none !important;
    }


}



