

@media (max-width: 767px) {

    .popup-content {
        flex-direction: column;
        max-width: none;
        height: 100%;
        max-width: 100%;
        min-width: 100%;
        gap: 15px;
        overflow-y: auto;
        padding: 20px;
        padding-bottom: 60px;
        border-radius: 0;
    }

    .popup-back,
    .popup-button-adaptive {
        display: block;
    }
    .ingredients-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .popup-button {
        display: none;
    }
    .popup-info {
        overflow-y: visible;
    }
    .popup-body{
        height: 100%;
    }
    
}


@media (max-width: 575px) {
    
    .ingredients-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .popup-img img {
        height: 200px;
    }
    
    .thanks-body {
        height: 100%;
    }

    .thanks-content {
        height: 100%;
        padding: 20px;
        overflow-y: auto;
        border-radius: 0;
        max-width: 100%;
        width: 100%;
    }

    .thanks-back {
        display: block;
    }

}



